/**
 原生css变量的定义=》类似less/sass定义变量 => 不需要打包，浏览器默认支持
 语法：
 1. 定义：--css变量名:css变量值
 2. 使用：var(--css变量名)
 作用域：
 1. 局部变量 =》 .类名 {    }
 2. 全局变量 =》 :root {    }
*/
:root {
  /* 1. 全局变量 */
  --cp-font-red: red;
  --cp-div-bd: 5px solid blue;
  --main: #999;
}
a {
  color: var(--main);
}
.cp-use {
  /* 2. 局部变量 */
  --cp-color-green: green;
  font-size: 20px;
  color: var(--cp-font-red);
  border: var(--cp-div-bd);
  background: var(--cp-color-green);
}
